
/*================= General =================*/

#ui-view{
  min-width: 550px;
  z-index: 4;
}

/*================= Auth =================*/

.authForm{
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  height: 200px;
  width: 500px;
}

.authForm input{
  margin: 10px;
}

.authForm button{
  margin: 10px;
  text-align: center;
}


/*================= Dashboard =================*/

.dashboard{
  position: absolute;
  height: 100%;
  width: 100%;
}


.dashboardButton{
  position: fixed;
  text-align: center;
  padding: 5px;
  height: 30px;
  display: inline;
  border: 0;
  text-transform: uppercase;
  color: white;
  background-color: rgba(115, 224, 164, 0.6);
  float: right;
}

.Button1{
  width: 10%;
  left:70%;
}
.Button2{
  width: 10%;
  left:80%;
}
.Button3{
  width: 10%;
  left:90%;
}

.dashboardButton:hover{
  transition: background-color .1s;
  background-color: rgba(53, 189, 109, 0.47);
}

.profileButton{
  height: 5%;
}

#coindev{
  position: absolute;
  margin-left: 40px;
  margin-top: 60px;

}
#coin{
  margin-left: 10px;
  margin-top: 5px;
  color: rgb(121, 58, 58);
  font-size: 20px;
  vertical-align:middle;
}

#coinimg{
  width: 25px;
  height: 25px;
}

#greeting{
  font-size: 18px;
  margin-top: 20px;
  margin-left: 40px;
  position: absolute;
  color: grey;
  text-transform: uppercase;
}

#profileImg{
  position: fixed;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-left: 17%;
  margin-top: 10px;
}




.leftSide{
  position: absolute;
  float: left;
  width: 70%;
  min-width: 65%;
  background-color: rgba(202, 216, 202, 0.16);
}

.rightSide{
  left: 70%;
  width: 35%;
  height: inherit;
  height: 100%;
  z-index: 3;
  position: fixed;

}


.upRight{
  height: 25%;
  display: block;
  background-color: rgba(148, 202, 180, 0.3);
  margin-right: auto;
  margin-left: auto;
}

.downRight{
    width: 100%;
    height: 70%;
    background-color: rgba(48, 146, 99, 0.3);
    margin-right: auto;
    margin-left: auto;
}

.challengeBox {
    position: relative;
    list-style-type: none;
    height: 60px;
    padding: 5px;
    padding-left: 20px;
    width: 200px;
    margin-top: 20px;
    background-color: rgba(41, 57, 74, 0.18);
    -webkit-box-shadow: 0 4px 5px -5px black;
    -moz-box-shadow: 0 4px 5px -5px black;
    box-shadow: 0 4px 5px -5px black;
}

.challengeBox:hover{
  transition: background-color .3s;
  background-color: rgba(53, 189, 109, 0.47);
  -webkit-box-shadow: 0 4px 5px -5px black;
     -moz-box-shadow: 0 4px 5px -5px black;
          box-shadow: 0 4px 5px -5px black;
}

.challengeDiv{
  position: absolute;
}

/*.challengeTitle .challengeTime .challengeStatus {
  font-size: 25px;
  color: white;
}*/

.challengeText{
  color: white;
  font-size: 15px;
}



/*================= challengeDetail =================*/

.bigTitle{
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.playContainer{
  list-style-type: none;
}

.playerName{
  border-radius: 10px 10px 0 0;
  height: 30px;
  font-size: 20px;
  color: white;
  background-color: rgb(162, 218, 191);
}


.playContainer img{
  max-height: 180px;

}

.playerItem{
  width: 300px;
  border-radius: 12px;
  float: left;
  min-width: 45%;
  height: 250px;
  font-size: 10px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 0;
  background-color: white;
}
.boxed-group-detail{
  display: block;
}

.playerUploadButton{
  float: left;
  background-color: rgb(162, 218, 191);
  color: white;
  font-size: 20px;
  position: absolute;
  height: 40px;
  width: 40px;
  margin-bottom: 40px;
  border-radius: 0 0 0 12px;

}
.playerBotton{
  height: 40px;
  background-color: rgb(162, 218, 191);
  border-radius: 0 0 12px 12px;
}

.playerVoteButton{
  vertical-align: middle;
  padding: 5px 10px 5px 5px;
  color: white;
  font-size: 20px;
  height: 40px;
  float: right;
  border-radius: 0 0 12px 0;
  background-color: rgb(162, 218, 191);
}

.playerButton:hover{
  background-color: rgb(56, 199, 124);
}

.commentDiv{
  margin: 40px;
}

.playScore{
  float: left;
  margin-left: 80px;
  font-size: 20px;
  padding: 5px;
  color: white;
}

/*================= challengeCreate =================*/
.coinbox{
  width: 200px;
}

button.ng-binding {
    width: 100%;
}
/*===================== Profile =====================*/

.boxed-group {
    position: relative;
    border-radius: 3px;
    margin: 50px;
}

#avatar{
    margin-top: 10px;
    float: left;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}

.avatar-upload {
  margin-top: 10px;
    float: left;
    width: 140px;
    margin-left: 20px;
}

.boxed-group-inner {
  position: relative;
    padding: 1px 30px;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #666;
    font-size: 13px;
    height: 400px;
}
.form-control-1{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

select.form-control-1 {
  width: 40%;
    min-width: 100px;
    margin-left: 10px;
}

.pageTitle{
    background-color: rgba(53, 189, 109, 0.47);
    color: white;
    margin: 0;
    border-radius: 3px 3px 0 0;
    border: 1px solid #d8d8d8;
    border-bottom: 0;
    padding: 9px 10px 10px;
    font-size: 14px;
    line-height: 17px;
    display: block;
}

.edit-profile{
  margin: 15px 0;
}
.edit-profile-avatar{
  margin: 15px 0;
  height: 100px;
}
.profile-input{
  width: 56%;
  margin-top: 5px;
  min-width: 180px;
}



