<div class="boxed-group">
  <div class="pageTitle">Create</div>
  <div class="boxed-group-inner">

    <div class="edit-profile">
      <input class="form-control-1 profile-input" size="20" type="text"
             placeholder="Challenge Title" ng-model="challengeInfo.title">

      <select class="form-control-1" ng-model="challengeInfo.time">
        <option value='300'>5 mins</option>
        <option value='600'>10 mins</option>
        <option value='1800'>30 mins</option>
        <option value='3600'>60 mins</option>
      </select>
    </div>

    <div class="edit-profile">
       <textarea class="form-control " rows="3" placeholder="Add Description" ng-model="challengeInfo.message"></textarea>
    </div>

    <div class="edit-profile coinbox">
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
          <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" id="challenge-wager" ng-model="challengeInfo.wager"
                 class="form-control" id="exampleInputAmount" placeholder="Coin">
          </div>
        </div>
      </form>

    </div>

      <div id="participantBox" class="edit-profile" isteven-multi-select
      input-model="participants" output-model="challengeInfo.participants"
      button-label="username" item-label="username"
      tick-property="ticked" orientation="horizontal" >
      </div>


    <button class="btn btn-success" ng-click="postChallenge(challengeInfo)">CREATE</button>
    <h5>{{errorMessage}}</h5>
  </div>
</div>
