<div class="dashboard">
  <div class="leftSide">
      <div id="ui-view" ui-view></div>
  </div>


  <div class="rightSide">
    <div class="upRight">
      <img id='profileImg' src="../img/placeholder.jpg">
      <div id="greeting">Hello User</div>
      <div id="coindev">
        <img id="coinimg" src="./img/coin.png">
        <span id='coin'>$1000</span>
      </div>
    </div>

      <div class="profileButton">

        <div class="dashboardButton Button1" ng-click="createChallenge()">Create</div>
        <div class="dashboardButton Button2" ng-click="editProfile()">profile</div>
        <div class="dashboardButton Button3" ng-click="logout()">Logout</div>

      </div>


    <div class="downRight">
      <div class="challengeDiv">
        <ul>
          <li class="challengeBox" ng-repeat="challenge in challenges" ng-click="findDetail(challenge)">
            <div class="challengeTitle challengeText"> {{challenge.title}} </div>
            <div class="challengeTime challengeText"> {{challenge.time}} </div>
          </li>
        </ul>
      </div>


    </div>
  </div>
</div>

