

<div class="boxed-group-detail">

<div class="challengeTop">
   <img id="previewChallengeImg" ng-show="imageChallenge" data-ng-src="data:image/png;base64,{{imageChallenge.base64}}">

  <div class="challengeStatus">
    <div class="challengeDetailTitle">Challenge: {{challengeData.title}}</div>
    <div>Description: {{challengeData.message}}</div>
    <span>State: {{started}}</span>

    <span ng-show="started==='Completed'">Winner is {{winner.username}}</span>
  </div>

      <div class="fileUpload btn btn-success challengeImgButton" ng-show="userIsplaying">
            <span>Upload Img</span>
           <input class="uploadChallengeButton upload" type="file" ng-model="imageChallenge" base-sixty-four-input>
      </div>

    <button ng-show="imageChallenge" ng-click="uploadimage(imageChallenge,loginUser.id,challengeData.id)">Update</button>

</div>


  <button ng-click="accept()" ng-show="!hasAccepted && isParticipant">ACCEPT</button>


    <ul class="playContainer">
      <li class="playerItem"
      ng-repeat="player in userChallenges">
        <div class="playerName"> {{player.player.username}} </div>
        <div class="imgBackground">
          <img data-ng-src="data:image/png;base64,{{player.image}}">
        </div>
        <div class="playerBotton">
          <div class="playScore">VOTE: {{player.player.upvote}} </div>
          <div class="playerVoteButton playerButton" ng-show="canUpvote" ng-click="vote(player.player)"> VOTE </div>
        </div>

      </li>
    </ul>
</div>
