

<div class="boxed-group-detail">
  <h3>State: {{started}}</h3>
  <h3 ng-show="started==='Completed'">Winner is {{winner.username}}</h3>
  <button ng-click="accept()" ng-show="!hasAccepted && isParticipant">ACCEPT</button>
  <input type="file" ng-model="myPic" base-sixty-four-input>
    <ul class="playContainer">
      <li class="playerItem" ng-repeat="player in players">
        <div class="playerName"> {{player.username}} </div>
        <div>
          <img src=" {{player.image}} " >
        </div>
        <div class="playerBotton">
          <div class="playScore">SCORE: {{player.upvote}} </div>
          <div class="playerUploadButton playerButton" ng-click="uploadChallengeImg()"> + </div>
          <div class="playerVoteButton playerButton" ng-show="canUpvote" ng-click="vote(player)"> VOTE </div>
        </div>

      </li>
    </ul>
</div>