<div class="boxed-group">
  <div class="pageTitle">Profile</div>
  <div class="boxed-group-inner">

    <div flow-init class="edit-profile-avatar">
      <div>Profile picture</div>
      <img ngf-src="files[0]" id='avatar' ngf-accept="'image/*'" ngf-default-src="../img/placeholder.jpg" >
      <div class="avatar-upload">
        <div class="btn btn-default" ngf-select ng-model="files">Upload Profile Image</div>
      </div>

    </div>

    <div class="edit-profile">
      <div>Name</div>
      <input class="form-control profile-input" size="20" type="text"
            placeholder=" {{loginUser.username}}" ng-model="newname">
    </div>


    <button class="btn btn-success" ng-click="update(loginUser.id,files[0],newname)">SAVE</button>
  </div>
</div>